


/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header {
    background-image: url(../images/medium-header.jpg);
    height: 127px;
    padding: .5rem 2%;   
    background-size: cover;
    
}



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
main {
    .card-deck {
        display: flex;
    }
    
  .card{
        
        flex-basis: 48%;
    }
}


/*----------- FOOTER --------------*/
    
