@media only screen and (min-width:560px) {

nav li {float:left; width: 25% } /* when the list items were floated, the ul collapsed so we don't see the rules we applied to the ul. We fix this with .clearfix:after */

main figure {
    float: right;
    width: 48%; /* was set to 50% of total page width, but reduced to 48 to make up for 2 percent change below */
    margin-left: 2%; /* so the text doesn't touch the img */
    padding-bottom: .5rem; /* to keep text away from the img caption */
}

div.news {
    clear: both; /* means stay below any floated image */
    column-count: 2;
    column-rule: 1px solid #ddd;
}

} /* End of media query. The rules will not work until the screen is wider than 560px */ 