* { -moz-box-sizing:border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY RULES */

body {
    font-family: Verdana;
    font-size: 16px;
}

/* HEADER RULES */

header {
    background-color: #17a8e4;
    padding: 1rem 2%; /* 1rem = base font (16px) times 1. which is 16px */
}

header h1 {
   margin: 0; 
}

header h2 {
    margin: 0;
}

/* NAVIGATION RULES */

nav {
    background-color: #111;
}

nav ul {
    margin: 0; padding: 0;
}

nav li {
    list-style-type: none;
}

nav li.active {
background-color: #333; 
}

nav a {
    display: block; /* display anchors for nav as block so you can set the H and W */
    padding: .8rem 0; /* touch areas on a phone should be at least 44px tall. Increased height by adding .8rem to top and bottom */ 
    color: #eee;
    text-align : center;
    text-decoration: none; 
}

nav a:hover {
    background-color: #444;
}

/* MAIN RULES */

main {padding: 1rem 2%; /* to match the header and nav */
      display: block;} /* tell main tag to display as a block element */

main h1 {
    color: #111
}

main figure img {
    width: 100%; /* meaning, the img is 100% of the figure tag which the img is wrapped in */;
}

main figure {
    width: 100%; /* figure tag is 100% of page width on small screens. The img size should now scale correctly. */ 
    margin: 0;
}

main figcaption {
    text-align: center; font-size: .8rem;
}


footer {
    text-align: center;
    padding: 1rem 2%; /* so the footer text doesn't stick to the bottom of the screen */
    background-color: #17a8e4;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
} /* having this block of code in the small file will make it available to the entire site. add a clearfix class to */